# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. seaborn
4. numpy
5. scipy
6. sklearn

| Data Science Tools | 
| ----------- | 
| RStudio     |
| Anaconda    | 
| Jupyter Notebooks|
| Tableau Desktop |

Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
mins = 200
hours = mins / 60
print(f'Hours: {hours}')

Hours: 3.3333333333333335